input[type="checkbox"] {
  appearance: none;
  background-color: #faf7f2;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-color: #fdc913;
}

input[type="checkbox"]:checked::before {
  content: "\2714";
  display: inline-block;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  left: 10px;
  top: 5px;
}

hr {
  width: 100%;
  border-style: solid;
  color: white;
}

hr.line {
  height: 2px;
  background-color: white;
  border: none;
}

.home-container {
  background-image: url("public/assets/mile1-assets/home-banner.png");
  background-color: #faf7f2;
  color: white;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url(./fonts/RobotoCondensed-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Barlow-Regular";
  src: url(./fonts/Barlow-Regular.ttf);
}

@font-face {
  font-family: "Barlow";
  src: url(./fonts/Barlow-Bold.ttf);
}

@font-face {
  font-family: "Quattrocento";
  src: url(./fonts/Quattrocento-Regular.ttf);
}

@font-face {
  font-family: "Satisfy";
  src: url(./fonts/Satisfy-Regular.ttf);
}
